@import url("../data/variables.css");

.cardContainer {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  gap: 3rem;

  width: 70%;
  height: 80%;

  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #dee2e6;
}

.cardImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 30%;

  background-color: var(--secondary-color);
}

.cardImg {
  height: 50%;
}

.cardInfo {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;

  height: 100%;
  width: 70%;
}

.cardTag {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1rem 3rem;
  font-size: 0.8rem;

  color: #fff;
  background-color: var(--ternary-color);
  font-weight: bold;
  text-align: center;

  /* Rotation and Placement */
  transform: translate(29.29%, -100%) rotate(45deg);
  transform-origin: bottom left;

  /* 29.29% = 100% - (100% / √2) ≈ 100% - 70.71% */
  /* This mathematical calculation places it right in the corner */
}

.cardName {
  align-self: last baseline;
  justify-self: flex-start;

  color: var(--primary-dark);

  grid-column: 1 / 3;
  grid-row: 1;

  font-size: 1.6rem;
}

.cardCauses {
  align-self: center;
  display: flex;
  gap: 1rem;

  grid-column: 1 / 4;
  grid-row: 2;
}

.cause {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  color: #fff;
  background-color: var(--senary-color);
  border-radius: 1rem;
}

.cardText {
  font-size: 1.3rem;
  grid-column: 1 / 3;
  grid-row: 3;

  align-self: center;
}

.cardSymptoms {
  grid-column: 1 / 3;
  grid-row: 4;

  color: var(--quaternary-color);
}

.symptomList {
  list-style: none;
  font-weight: 500;
  line-height: 1.6rem;
}

.link,
.link:visited {
  grid-column: 2;
  grid-row: 5;
  transition: 0.5s all ease;
  color: var(--ternary-dark);
  align-self: center;
  justify-self: center;
}

.link:hover,
.link:active {
  color: var(--quaternary-dark);
  text-decoration: none;
}

@media (max-width: 1200px) {
  .cardTag {
    padding: 0.5rem 1.5rem;
    font-size: 0.5rem;
  }

  .cardImg {
    height: 30%;
  }

  .cardName {
    font-size: 1.2rem;
  }

  .cardText {
    font-size: 0.9rem;
  }
}

@media (max-width: 756px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 0;

    width: 80%;
  }

  .cardTag {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.4rem 1.6rem;
    font-size: 0.6rem;

    color: #fff;
    background-color: var(--ternary-color);
    font-weight: bold;
    text-align: center;

    /* Rotation and Placement */
    transform: translate(29.29%, -100%) rotate(45deg);
    transform-origin: bottom left;

    /* 29.29% = 100% - (100% / √2) ≈ 100% - 70.71% */
    /* This mathematical calculation places it right in the corner */
  }

  .cardImgContainer {
    width: 100%;
    height: 30%;
  }

  .cardImg {
    height: 80%;
  }

  .cardInfo {
    height: 70%;
    width: 100%;
  }

  .cardName {
    justify-self: center;

    grid-column: 2 / 3;
    grid-row: 1;

    font-size: 1.3rem;
  }

  .cardCauses {
    gap: 0.4rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cause {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
  }

  .cardText {
    font-size: 0.9rem;
    align-self: center;
    text-align: center;

    grid-column: 1 / 4;
    padding: 0 20%;
  }

  .cardSymptoms {
    grid-column: 1 / 4;
    justify-self: center;
  }

  .symptomList {
    list-style: none;
    font-weight: 500;
    line-height: 1.2rem;
    font-size: 0.7rem;
  }
}
